services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: icafe_backend
    restart: unless-stopped
    volumes:
      - icafe_data:/app/data # persists config.json and uploads/ across restarts
    environment:
      - FLASK_ENV=production
      - CONFIG_DIR=/app/data
      - ICAFE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjU3MDUxIiwiaHR0cCI6Imh0dHBzOi8vYXBpLmljYWZlY2xvdWQuY29tLyIsImV4cCI6MTgwNzA1MzM5Mn0.O-8G_4Y-W9H-8G_4Y-W9H-8G_4Y-W9H-8G_4Y-W9H-8
      - ICAFE_CAFE_ID=57051
    ports:
      - "5000:5000"
    networks:
      - icafe_net

  frontend:
    build:
      context: ./frontend/icafedash-main
      dockerfile: Dockerfile
    container_name: icafe_frontend
    restart: unless-stopped
    ports:
      - "80:80" # open http://localhost in browser
    depends_on:
      - backend
    networks:
      - icafe_net

volumes:
  icafe_data:


networks:
  icafe_net:
    driver: bridge
