services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: icafe_backend
    restart: unless-stopped
    volumes:
      - icafe_data:/app/data # persists config.json and uploads/ across restarts
    environment:
      - FLASK_ENV=production
      - CONFIG_DIR=/app/data
      - ICAFE_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiYjE4ZDA3NDdiNjgxM2ZjZDk0OGU1OGIxN2Q1NzNhZmIwMTFhZjc0NjE2YWYyNTc3N2QzM2JhMjc1NTU4NmM0YzAwNjlhN2RiZGFmNDI5NmIiLCJpYXQiOjE3NzE5MjgxNzUuMTY1MDIzLCJuYmYiOjE3NzE5MjgxNzUuMTY1MDI1LCJleHAiOjQ5Mjc2MDE3NzUuMTYxODI1LCJzdWIiOiIxNjEyODQ1NDk2NTcwNTEiLCJzY29wZXMiOltdfQ.MMrV9L10mTXuS8c9MiBJHVeno7js36saO0qtRKWZ2VTJzgjjs9IWmyXRTsudcu7ogOgTcTkdAGYymN_u3kpk-DX6hL6WM6osLGLA9R0sLhsWNZNMu7e74waMZfqXwV0N5q2n0gEyyU25gcAQl6NNoixU86167dOSPj2OasTFz96sgG74Lv4QhdI2BQsvwSEvrac9Lgwg9qN5t753JcVCZ5alSB4F7JvZkMHpM_7Mn-2W8SRGVJ4W_dJ_GEDKnv9sYzVr7GMKhH6HBk2zEioobBD2w-HBlaPD7mk76Mr3zRCXb3woVdAh_9HSatzeEA6unYDLrnSpnP_6MDrcPTEdLzw4fNiXWwFrpDo-VF4S6uuN0d6BxxYz_kA7IBGfJzFuJFnvQkTgGl3YbVD2SHXIunMCMP-xxOK1C8lPigUxwTGx6Bi8uzluF4SndBkN1uR8QybWT0Bqj2TdCvsUIGVvEdobnM5E9XSv7EeqFnEwQYs4zLJOCtn_n3dsLcWx_LadZcjmvMq2YkmzPpwJeZL4CzA9-HYWwAYU6W7XqFhNIHLMy1VEhpFIb8cf8G0KkfMD9t3hGDqJa3qshsNSbMF67ZVz8T4M13m81em9DzeEdUQCpM_mZlrq7IA_UJfmDjLhaAHx_3moh7P-nBEFZF9HkTnnNS75vloQTwWLScGvUBA
      - ICAFE_CAFE_ID=57051
    ports:
      - "5000:5000"
    networks:
      - icafe_net

  frontend:
    build:
      context: ./frontend/icafedash-main
      dockerfile: Dockerfile
    container_name: icafe_frontend
    restart: unless-stopped
    ports:
      - "80:80" # open http://localhost in browser
    depends_on:
      - backend
    networks:
      - icafe_net

volumes:
  icafe_data:


networks:
  icafe_net:
    driver: bridge
